<ion-header>
  <ion-toolbar color="dark">
    
    <ion-buttons slot="start">
      
      <ion-menu-button></ion-menu-button>
      
  
 </ion-buttons>
  

    <ion-title>
      <h1>Alert</h1>
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" color="dark" (click)="alert()">Alert</ion-button>
<ion-button expand="block" color="dark" (click)="multiplo()">Multiplo  Alert</ion-button>
<ion-button expand="block" color="dark" (click)="confirma()">confirmar </ion-button>
</ion-content>
