<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-title ><h1>Alert titulo</h1></ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" color="dark" (click)="alert()">Alert</ion-button>
<ion-button expand="block" color="dark" (click)="multiplo()">Multiplo  Alert</ion-button>
<ion-button expand="block" color="dark" (click)="confirma()">confirmar </ion-button>
</ion-content>
