<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>PESQUISE</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content> 
  <ion-searchbar color="light" [(ngModel)]="nome"  (keyup)="filtraritens($event)"></ion-searchbar>
  <ion-toolbar>
    
    <ion-list>
      <ion-item *ngFor="let pessoa of filtrarpessoa">{{pessoa.nome}}</ion-item>
    </ion-list>

    <h1>{{nome}}</h1>
  </ion-toolbar>
</ion-content>
