<ion-header>
  <ion-toolbar color="dark">
     <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>  <ion-title><h1>BOTÃO Prime</h1></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button>Nome do botao</ion-button>
  <ion-button href="http://google.com/search">botao com link</ion-button>
  <ion-button color="dark"> botao com tema</ion-button>
  <ion-button (click)=irbatoes2()>(navegação)ir para botao 2</ion-button>
  <ion-button expand="full" >expand full</ion-button>
  <h1 class="centralizar">botoes com expand</h1>
  <ion-button expand="full"  >expand full </ion-button>
  <ion-button expand="block" >expand block</ion-button>

  <h1>botão com fill</h1>
  <ion-button fill="outline" >fill outline</ion-button>
  <h1>botão roud </h1>
  <ion-button shape ="round" >round</ion-button>

  <h1>botão com icones</h1>
  <ion-button>
  <ion-icon slot="start" name="star"></ion-icon>icon a esquerda
  </ion-button>
  <ion-button>
  <ion-icon slot="end" name="star"></ion-icon>icon direita
  </ion-button>

  <ion-button>
  <ion-icon slot="icon-only" name="bug-outline"></ion-icon>
  </ion-button>

  <h1>botão tamanho</h1>
  <ion-button>Padrão</ion-button>
  <ion-button size="large">Grande</ion-button>
  <ion-button size="small">Pequeno</ion-button>
  

</ion-content>