<ion-header>
  <ion-toolbar color="dark">
    <ion-title><h1>Slide</h1></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-slides pager="true">
      <ion-slide >
        <ion-img src="../assets/1212.jpg"></ion-img>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </ion-content>

