<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>FABE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-fab vertical="top" horizontal="start">
  <ion-fab-button>
    <ion-icon name ="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="top" horizontal="end">
  <ion-fab-button>
    <ion-icon name ="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start">
  <ion-fab-button>
    <ion-icon name ="airplane"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" (click)="salvar">
  <ion-fab-button>
    <ion-icon name ="star"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon color="dark" name="restaurant-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab vertical="center" horizontal="center" (click)="salvar()">
  <ion-fab-button>
    <ion-icon name ="fast-food"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon color="dark" name="pizza"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button>
      <ion-icon color="dark" name="beer"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="bottom">
    <ion-fab-button>
      <ion-icon color="dark" name="restaurant-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button>
      <ion-icon color="dark" name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
